* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
}

.main {
  display: flex;
  height: 100vh;
}

/* navbar */
.navBar {
  background-color: royalblue;
  height: 65px;
}

/* aside */
.main aside {
  width: 250px;
  padding: 20px;
  display: Flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid gray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.main aside button {
  margin-top: 14px;
  padding: 17px 30px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}
.btn:hover{
  background-color:royalblue;
  color: white;

}

/* sections */

.sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px;
  background-image: url("images/clouds.jpg");
}

.section {
  /* border: 1px solid black; */
  height: 200px;
  background: white;
  padding: 20px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 10px;
}

div .section1 {
  display: Flex;
  align-items: center;
  border-radius: 10px; 
}

.section .changed {
  padding: 5px 40px;
  border: none;
  border-radius: 5px;
}

.section .changed:hover{
  background-color: royalblue;
  color: white;
  
}

.info {
  display: flex;
  flex-direction: column;
  background: rgb(239, 239, 239);
  padding: 10px;
}

/* .section1 .profile-avatar {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  border: 5px solid rgb(154, 208, 244);
  margin-right: 30px;
} */

.profileImg{
  display: flex;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
  margin-right: 30px;
  box-shadow: 5px 5px 5px gray;
}

.profile-text{
  display: flex;
  flex-direction: column;
} 

.edit{
  /* position: absolute; */
  width: 30px;
  height: 30px;
  float: right;
  /* right: 20%; */
}

.edit:hover{
  transform: scale(1.1);
}

.section2 {
  position: relative;
}

.section2 form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

.section2 button {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

input[type="text"]{
  border: none;
  background-color:rgb(239, 239, 239);
}

input[type="tel"]{
  border: none;
  background-color:rgb(239, 239, 239);
}


.chagePassword {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-bottom: 40px;
}

.chagePassword h3,
.chagePassword span {
  display: inline;
}

.chagePassword form {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.chagePassword form input {
  width: 33%;
}

.chagePassword button {
  padding: 5px 40px;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 10px;
  border: none;
  border-radius: 5px;
}

.chagePassword button:hover{
  background-color: royalblue;
  color: white;
  
}